# Nuxt dev/build outputs
.output
.data
BalanceAccounting/.nuxt
.nitro
.cache
.nuxt
dist
.lighthouseci

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
